<div class="container">
  <article class="card">
    <div class="background">
      <img
        [alt]="data.description"
        [ngSrc]="data.photo ?? ''"
        class="background--img"
        height="660"
        loading="lazy"
        width="660">
    </div>
    <div class="content">
      <h2 class="content--h2">{{ data.cloth}}</h2>
      <p class="content--p">{{ data.description }}</p>
      <p class="content--p">{{ data.color }}</p>
      <ul class="chips">
        <li class="chip">{{data.brand}}</li>
        <li class="chip">{{data.size}}</li>
        <li class="chip">{{data.price}}</li>
      </ul>
    </div>
  </article>
</div>
